section {    
  height: 100vh;
  filter: brightness(90%);
  background-attachment: fixed;
}
.graimg{
  background-image: url('../../Images/s2.jpg');
  /* background-size: 100% 100%; */
  background-size: cover;
}
section:nth-child(2) {
  background-image: url('../../Images/h1.jpg');
  /* background-size: 100% 100%; */
  background-size: cover;
}
section:nth-child(3) {
  background-image: url('../../Images/h2.jpg');
  /* background-size: 100% 100%; */
  background-size: cover;
}
.graphite, .marbtext ,.art{
  text-align: center;
  color: #06010c ;
  /* font-size: 60px; */
  font-size: 4rem;
  font-weight: 800;
  /* text-shadow: 1px 1px 2px rgb(255, 255, 255); */
  /* background: none; */
  /* margin-left: 20px; */
  /* padding-top: 350px; */
  padding-top: 40vh;
  /* margin-left: 120px; */
}

@media screen and (max-width: 768px) {
  .graphite,
  .marbtext,
  .art {
    font-size: 3rem;
    padding-top: 35vh;
  }
}
