.imgSlider{
    width: 80%;
    height: 100%;
    background-image: url('../Images/1.jpg');
    background-size: 100% 100%;
    animation: changeImage 10s linear infinite;
    place-items: center start;
}

@keyframes changeImage {
    0%{
        background-image: url('../Images/1.jpg');
    }
    25%{
        background-image: url('../Images/10.jpg');
    }
    50%{
        background-image: url('../Images/3.jpg');
    }
    75%{
        background-image: url('../Images/11.jpg');
    }
    100%{
        background-image: url('../Images/12.jpg');
    }
}

.body{
    width: 100%;
    height: 60vh;
    display: grid;
    place-items: start center;
    margin-top: 100px;
    margin-bottom: 190px;
}